body {
    background-color: darkkhaki;
    color: azure;
    margin: 1in;
}

form h1 {
    color: black;
    background-color: brown;
}

.special {
    color: pink;
}

form {
    color: black;
    border: 1rem solid blue;
    padding: .5in;
    margin: .25in;
}

form label {
    display: block;
    margin: .1in;
}

form h1 {
    background-color: none;
}

.bozo {
    color: black;
}

form input {
    
}